<div class="popup files seafiles" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel" style="width: 50%; padding-bottom: 20px;">
		<span class="close" data-bind="click: cancelPopup"></span>
			<div class="panel">
				<div class="panel_content">
					<div class="panel_top">
						<span class="search_block"> 
							<span class="input" data-bind="css: {'focus': true}">
								<span class="icon search" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SEARCH'}, click: searchSubmitCommand"></span>
								<input class="field" type="text" data-bind="valueUpdate: 'afterkeydown', value: searchInput, onEnter: searchSubmitCommand">
							</span>
						</span>
					</div>

					<div class="panel_center" data-bind="customScrollbar: {x: false}">
						<div class="scroll-inner">
							<!-- ko if: searchItems().count === 0 || searchItems().count === undefined -->
								<!-- ko if: !isSearchInProgress()-->
								<span class="list_notification" data-bind="i18n: {'key': '%MODULENAME%/INFO_NO_ITEMS_FOUND'}"></span>
								<!-- /ko -->
								<!-- ko if: isSearchInProgress() -->
								<span class="list_notification" data-bind="i18n: {'key': '%MODULENAME%/INFO_SEARCH_IN_PROGRESS'}"></span>
								<!-- /ko -->
							<!-- /ko -->

							<!-- ko if: searchItems().count > 0 -->
								<!-- ko foreach: storages -->
									<!-- ko if: $parent.searchItems()['storages'][type].length > 0 -->
										<!-- ko if: type === 'repo' -->
										<div data-bind="text: name" style="padding: 14px 16px 14px 14px; font-size: 20px;"></div>
										<!-- /ko -->
									<!-- /ko -->
									<!-- ko foreach: $parent.searchItems()['storages'][type] -->
										<!-- ko if: $parent.type === 'repo' -->
										<div class="item" style="border-bottom: 1px solid #e8e8e8; padding: 14px 16px 14px 14px;">
											<a data-bind="attr: { href: url, target:'_blank'}">
												<span class="path" data-bind="text: repoName + path"></span>
											</a>
										</div>
										<!-- /ko -->
										<!-- ko if: $parent.type !== 'repo' && items.length > 0 -->
											<div data-bind="text: $parent.name + ' ' + user" style="padding: 14px 16px 14px 14px; font-size: 20px;"></div>
											<!-- ko foreach: items -->
											<div class="item" style="border-bottom: 1px solid #e8e8e8; padding: 14px 16px 14px 14px;">
												<a data-bind="attr: { href: url, target:'_blank'}">
													<span class="path" data-bind="text: repoName + path"></span>
												</a>
											</div>
											<!-- /ko -->
										<!-- /ko -->
									<!-- /ko -->
								<!-- /ko -->
							<!-- /ko -->
						</div>
					</div>
					<div class="panel_bottom">
						<div class="buttons">
							<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLOSE'}, click: closePopup"></span>
						</div>
					</div>
				</div>
			</div>
	</div>

	<span class="helper"></span>
</div>
