<div class="panel_top">
	<h2 class="settings_heading" data-bind="text: sTabName"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_EMAIL'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: email, valueUpdate: 'afterkeydown', onEnter: save">
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: login, valueUpdate: 'afterkeydown', onEnter: save">
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'}"></span>
				<span class="value buttons">
					<input class="input" autocomplete="new-password" type="password" data-bind="value: password, valueUpdate: 'afterkeydown', onEnter: save, visible: visiblePassword() === ''">
					<input class="input" autocomplete="new-password" data-bind="value: visiblePassword, hasfocus: focusVisiblePassword, visible: visiblePassword() !== '', event: {blur: hidePassword}">
					<span class="button contour_button" data-bind="click: showPassword">
						<span data-bind="i18n: {'key': '%MODULENAME%/LABEL_SHOW_PASSWORD'}"></span>
					</span>
				</span>
			</div>
		</div>

		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
